<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Donastions </h4>

                    </div>
                    <!--
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Donastion Reason </h4>
                        <!-- <p class="card-category">Last Campaign Performance</p>-->
                    </div>
                    <!--
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                     -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Completed blood Consumption </h4>

                    </div>

                </div>
            </div>


            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h4 class="card-title">Blood Transfuction</h4>

                    </div>
                    <div class="card-body table-responsive">


                        <table class="table table-hover">
                            <thead class="text-warning">

                                <th>ID </th>
                                <th>Hospisal Source</th>
                                <th>Hospisal Destinastion</th>
                                <th>Blood Group</th>
                                <th>Amount</th>
                                <th>Date Transfusion</th>
                                <th>Is Completed</th>



                            </thead>

                            <tbody>
                                <!--
                                <tr *ngFor="TransfusionData">
                                    <td>{{TransfusionDTO.TransfusionID}}</td>
                                    <td>{{TransfusionDTO.HospitalID}}</td>
                                    <td>{{TransfusionDTO.DestHospitalID}}</td>
                                    <td>{{TransfusionDTO.BloodGroup}}</td>
                                    <td>{{TransfusionDTO.Amount}}</td>
                                    <td>{{TransfusionDTO.Date}}</td>
                                    <td>{{TransfusionDTO.IsCompleted}}</td>

                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h4 class="card-title">Voluntary Campaigns</h4>

                    </div>
                    <div class="card-body table-responsive">


                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th> Name</th>
                                <th> Hospital</th>
                                <th>Place</th>
                                <th>Date</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Is Completed</th>




                            </thead>
                            <tbody>
                                <!--                          <tr *ngFor="CampaignsData">
                                    <td>{{CampaignsDTO.CampaignsID}}</td>
                                    <td>{{CampaignsDTO.CampaignsName}}</td>
                                    <td>{{CampaignsDTO.HospitalID}}</td>
                                    <td>{{CampaignsDTO.Place}}</td>
                                    <td>{{CampaignsDTO.Start}}</td>
                                    <td>{{CampaignsDTO.End}}</td>
                                    <td>{{CampaignsDTO.IsCompleted}}</td>


                                </tr>
                                -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>